body {
    font-family: 'Helvetica', sans-serif;
    background-color: #ffe6e6;
    text-align: center;
}

h1 {
    color: #470023;
}

.description {
    margin-bottom: 10px;
    margin-top: -10px;
    font-style: italic;
}

img {
    width: 20%;
    margin-bottom: 15px;
    margin-top: 5px;
}



.recipes {

    line-height: 1.5rem;
    display: inline-block;
    list-style-position: inside;
    text-align: left;
    background-color: #ffcccc;
    width: 370px;
    border: 5px solid #ffcccc;
}

a {
    color: #470023;
}


.ingredients {

    line-height: 1.5rem;
    display: inline-block;
    list-style-position: inside;
    text-align: left;
    background-color: #ffcccc;
    width: 350px;
    padding-right: 10px;
    border: 5px solid #ffcccc;
}

.smoothie {

    line-height: 1.5rem;
    display: inline-block;
    list-style-position: inside;
    text-align: left;
    background-color: #ffcccc;
    width: 500px;
    padding-right: 50px;
    border: 5px solid #ffcccc;
}

.instructions {

    line-height: 1.5rem;
    display: inline-block;
    list-style-position: inside;
    text-align: left;
    background-color: #ffcccc;
    width: 400px;
    padding-right: 50px;
    border: 5px solid #ffcccc;
}

.pancakes {
    line-height: 1.5rem;
    display: inline-block;
    list-style-position: inside;
    text-align: left;
    background-color: #ffcccc;
    width: 500px;
    padding-right: 50px;
    border: 5px solid #ffcccc;
}



.oatmeal-img {
    margin: 0;
}

